<footer>
    <div class="copy-right">
        <p>
            Coding Ninjas. All rights reserverd.
        </p>
    </div>
    <div class="footer-links">
        <ul>
            <li>
                <a href="/">
                    HOME
                </a>
            </li>
            <li>
                <a href="/users/Profile">
                    Profile
                </a>
            </li>
        </ul>
    </div>







</footer>