<!-- <html>
    <head>
     <title><%=title%></title>   
    </head>
    <body>
        <%-include('_header');%> -->
        <!-- only the variable part of each page should be present and remove other tags -->
        <link rel="stylesheet" href="/css/home.css">
        <h1>Codiel/<%=title%></h1>

        <!-- <%-include('_footer');%>
    </body>
</html> -->